div.container {
    position: relative;
    display: flex;
    width: 1710px;
    height: 869px;
    justify-content: center;
    font-family: sans-serif;
    align-items: center;
    background: linear-gradient(180deg, rgba(60, 196, 226, 0.91) 49.08%, #1E1E1E 100%);
    min-height: 100%;
    min-width: 100%;
}

div.logo {
    position: absolute;
    width: 400px;
    height: 100px;
    left: 700px;
    top: 100px;
}

div.login {
    position: absolute;
    width: 350px;
    height: 100px;
    left: 700px;
    top: 200px;
    font-size: 20px;
}

div.usuario {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 700px;
    top: 310px;
    font-size: 25px;
}

div.senha {
    position: absolute;
    width: 300px;
    height: 30px;
    left: 700px;
    top: 360px;
    font-size: 25px;
}

.txt-box {
    position: absolute;
    border-radius: 2px;
    width: 200px;
    height: 20px;
    border: none;
    left: 100px;
    top: 5px;
}

.btn btn-primary {
    position: absolute;
    width: 80px;
    height: 30px;
    left: 800px;
    top: 400px;
}
div.cadastrar-se{
    position: absolute;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    font-size: 30px;
    left: 700px;
    top: 450px;
}