<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="./hom.component.css">
    <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/projeto/gamemania/src/assets/Js/Jquery.js"></script>
    <script src="src/assets/Js/Java.js"></script>
    <title>GameMania</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <div class="menu">
                    <a href="#" class="btn-abrir" onclick="abrirMenu()">&#9776;</a>
                </div>
                <div class="logo"> <a href="index.html"><img src="assets/imagem/GAMEMANIA (1).png" alt="Logo GameMania"></a></div>
                <div class="search-box">
                    <input type="text" class="search-txt" placeholder="Pesquisar">
                </div>
                <div class="entrar">
                    <a routerLink="/login" class="btn btn-primary btn-lg"> Entrar/ Cadastre-se</a>
                </div>
                <div class="carrinho">
                    <a href="#" class="btn btn-primary btn-lg">Carrinho</a>
                </div>
                <div class="favoritos">
                    <a href="#" class="btn btn-primary btn-lg">Favoritos</a>
                </div>
             </nav>
        </header>
        <nav id="menu" class="categorias">
            <a href="#" class="home" onclick="fecharMenu()">&times;Fechar</a>
            <a href="#" class="home">Home</a>
            <a href="#" class="home">Compras</a>
            <a href="#" class="home">Perfil</a>
            <a href="#" class="home">Categorias</a>
        </nav>
    <br>
    <br>   
        <main>
            <div class="row">
                <section>
                    <div class="produto1">
                        <img src="assets/imagem/cs.png" alt="Imagem cs">
                        <h3>Counter-Strike:</h3>
                        <h3>Global Ofensive</h3>
                        <div class="preço"><p>R$59,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <div class="produto2">
                        <img src="assets/imagem/battlefield 4.png" alt="Imagem battlefield">
                        <h3>Battlefield 4</h3>
                        <div class="preço"><p>R$149,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <div class="produto3">
                        <img src="assets/imagem/F1.png" alt="Imagem f1">
                        <h3>F1 22</h3>
                        <div class="preço"><p>R$199,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <div class="produto4">
                        <img src="assets/imagem/Rainbow SIx.png" alt="Imagem Rainbow SIx">
                        <h3>Rainbow Six</h3>
                        <h3>Siege</h3>
                        <div class="preço"><p>R$79,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="produto5">
                        <img src="assets/imagem/cyberpunk.png" alt="Imagem cyberpunk">
                        <h3>Cyberpunk</h3>
                        <h3>2077</h3>
                        <div class="preço"><p>R$99,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <div class="produto6">
                        <img src="assets/imagem/Warplanes.png" alt="Imagem Warplanes">
                        <h3>Warplanes Battles</h3>
                        <h3>Over Pacific</h3>
                        <div class="preço"><p>R$55,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <div class="produto7">
                        <img src="assets/imagem/Red dead redemption 2.png" alt="Imagem Red dead redemption">
                        <h3>Red Dead</h3>
                        <h3>Redemption 2</h3>
                        <div class="preço"> <p>R$139,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                    <div class="produto8">
                        <img src="assets/imagem/GTA V.png" alt="Imagem GTA">
                        <h3>GTA V</h3>
                        <div class="preço"><p>R$39,90</p></div>
                        <div class="comprar">
                            <a href="#" class="btn btn-primary">Comprar</a>
                        </div>
                    </div>
                </section>
            </div>
            <br>
            <br>
            <br>
            <section>
                <div class="central">
                    <h1>Você Sabia?</h1>
                    <h2>Comprando na GAMEMANIA, a cada 50 reais em compras, você ganha 1 ponto, que poderá trocar por produtos em destaque.</h2>
                    <div class="pc1">
                        <a href="#" class="btn btn-lg"><img src="assets/imagem/pc1.png" alt="Pc1"></a>
                    </div>
                    <div class="pc2">
                        <a href="#" class="btn btn-lg"><img src="assets/imagem/pc2.png" alt="Pc2"></a>
                    </div>
                    <br>
                    <div class="notebook">
                        <a href="#" class="btn btn-lg"><img src="assets/imagem/notebook.png" alt="Notebook"></a>
                    </div>
                </div>
            </section>
         </main>
    <br>
    <br>
    <br>     
        <footer>
           <div class="rodapé">
            <div class="atendimento">
                <a href="#" class="btn btn-secondary btn-lg active">Quem Somos</a>
                <a href="#" class="btn btn-secondary btn-lg active" role="button">Central de Atendimento</a>
                <a href="#" class="btn btn-secondary btn-lg active" role="button">Políticas do Site</a>
                <a href="#" class="btn btn-secondary btn-lg active" role="button">Ajuda</a>
                <a href="#" class="btn btn-secondary btn-lg active" role="button">Duvidas</a>
            </div>
            <div class="logo-rodape"><img src="assets/imagem/GAMEMANIA (1).png" alt="Logo do site"></div>
            <div class="redes-sociais"><h2>Redes Sociais</h2></div>
            <div class="instagram">
                <a href="#" class="btn"><img src="assets/imagem/logo-instagram 1.png" alt="logo-instagram"></a>
            </div>
            <div class="facebook">
                <a href="#" class="btn"><img src="assets/imagem/logo-facebook 1.png" alt="logo-facebook"></a>
            </div>
            <div class="contato">
                <p>Telefone Para Contato (11) 99913-6298</p>
                <p>Email: gamemania@gmail.com</p>
                <p>São Paulo, SP</p>
            </div>
            <div class="voltar">
                <button type="button" id="voltar" class="btn-primary">Voltar ao topo &#8593;</button>
            </div>
           </div>
        </footer>
    </div>
</body>
</html>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>